 :root{
--green:#27ae60;
--black:#192a56;
--light-color:#666;
--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);


}
@import url('https://fonts.googleapis.com/css2?family=/Nunito:wght@200;300;400;600;700&display=swap');
*{
    font-family:Nunito, sans-serif;
    margin: 0;padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;border: none; transition:all .2s linear ;
line-height: 1.5rem;
}
html{
    font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top:5.5rem;
 scroll-behavior: smooth;

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: var(--green);
    letter-spacing:.1rem;
}
.icons i,
.icons a{
    cursor: pointer;
    margin-left: .5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;background: #eee;
    text-align: center;
    
}
.icons i:hover,
.icons a:hover{
    background: var(--green);
}
 #search-icon:hover{
    transform:rotate(360deg); 
}
.bars-icons{ display: none;}
 header{
     position: fixed;
     top: 0;left: 0;right: 0;
     background: #fff;
     padding: 1rem 7%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     box-shadow: var(--box-shadow);
   
 }
  header .logo{
      color:var(--black);
      font-size:1.7rem ;
      font-weight: bolder;
  }
  header .logo i{
      color: var(--green);
  }
.navbar ul{
    display: flex;
    list-style: none;
  }
  .navbar ul li a{
      display: flex;
      font-size: 1.7rem;
      border-radius: .5rem ;
      padding: 5px;
      margin: 8px;
      color: var(--light-color );
  }
 
  .navbar ul li .active,
  .navbar ul li a:hover{
    background-color: var(--green);
    color: #fff;
  } 
   #search-form{
     
    position: fixed;
      top:-110%; left:0;
      height: 100%;width:100%;
      z-index: 1004;background: rgba(0,0,0,.8);
      align-items: center;
      justify-content: center; 
      display: flex;
      padding:0 1rem ;
   }
#search-form.active{
    top:0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor:pointer;
    font-size: 3rem;
}
#search-form label:hover{
  color: var(--green);
}
#search-form #close{
    position: absolute;
    top: 2rem; right: 3rem;
    color: #fff;
    font-size: 5rem;
} 
section{
    padding:2rem 9%  ;
}
section:nth-child(even){
    background-color: #eee;
}
header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) ;

  }
  .home .home-slider {
      overflow: hidden;
  }
  .home .home-slider .slide{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       padding-top: 9rem;
       width: 100%;
   }
.home .home-slider .slide .content{
flex: 1 1 45rem;

}
.home .home-slider .slide .image {
    flex: 1 1 45rem;
   
    
    }

    .home .home-slider .slide .image img{
        width: 100%;
        border-radius: 10px;
    }

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
    text-transform: uppercase;
    }
  .home .home-slider .slide .content h3{
        color: var(--black);
        font-size: 7rem;
       line-height: 7rem;
    
    
    }
    .home .home-slider .slide .content p{
        color: var(--light-color);
        font-size: 2.2rem;
        padding: .8rem 0; 
        line-height: 3rem;
    } 
    .swiper-pagination-bullet-active{
        background: var(--green);
        margin-top: 0;
    }

.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading{
text-align: center;
color: var(--black);
font-size: 3rem;
padding-bottom: 2rem;
text-transform: uppercase;
margin-top: 2rem;
}
.dishes .box-container{
    display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1.5rem;
margin-top: 2rem;
}
.dishes .box-container .box{
    background: #fff;
    padding: 2.5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    height: 350px;
    width: 350px;
    border: .1rem solid rgba(0,0,0,.2) ;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
  
}
.dishes .box-container .box:hover{
position: relative;
top: -6px;

}
.dishes .box-container .box img{
    height: 200px;
    width: 200px;
    margin-right: .4rem;
    margin-top: 1.4rem;
    padding: .5rem;
    border-radius: 10px;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
position: absolute ;
top: 1.5rem;
border-radius: 50%;
height: 5rem;
width: 5rem;
line-height: 5rem;
color: var(--black);
background: #eee;;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color: #fff;
}
.dishes .box-container .box .fa-heart{
    right: -15rem;
}
.dishes .box-container .box .fa-eye{
left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars {
  padding: 1rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.dishes .box-container .box span {
    padding: 1rem 0;
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
  }
.about .row{
   display: flex; 
   flex-wrap: wrap;
   gap: 3.5rem;
   align-items: center ;
}

.about .row .image{
    flex: 1 1 45rem;
  
}
.foodset{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    box-shadow: var(--box-shadow);
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    color: var(--black);
    font-size: 3 rem;
    padding:.5rem 0 ;
}
.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0 ;
    line-height: 2rem;
}
.about .row .content .icons-container{
    display: flex; gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.about .row .content .icons-container .icons{
    border-radius: .5rem;
    background: #eee;
    display: flex;
    border: 1rem solid rgba(0,0,0,.2);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--green);
}
.about .row .content .icons-container .icons span{
    font-size:1.5rem ;
    color: var(--black);
}
.about .row .content .icons-container .icons i:hover{
    color: #fff;
}

.del{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
/* review */
.review .slide{
padding: 2rem;
box-shadow: var(--box-shadow);
border: 1rem solid rgba(0,0,0,.2);
border-radius: .5rem;
position: relative;
}
.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;right: 2rem;
    color: #ccc;
}
.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
.review .slide .user img{
 height: 10rem;
 width: 10rem;   
 border-radius: 50%;
 object-fit: cover;
}
.review .slide .user-info h3{
    color: var(--black);
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom:.5rem ;
}
.review .slide .user-info a h3{
   color: var(--black);
}
.review .slide .user-info a h3:hover{
    border-bottom: 1px solid var(--black);
   margin-bottom: 1rem;
}
.review .slide .user i{
    font-size: 1.3rem;
    color: var(--green);
}
.review .slide p{
    font-size: 1.5rem;
    line-height:1.8rem ;
    color: var(--light-color);
}

/* order */
.order form{
max-width: 98rem;
border-radius: .5rem;
box-shadow: var(--box-shadow);
border: .1rem solid rgba(0,0,0,.2);
background: #fff;
padding: 1.5rem;
margin: 0 auto;
}
.order .heading{
    line-height: 3rem;
}
.order form .inputBox{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.order form .inputBox .input{
    width: 49%;
}
.order form .inputBox .input span{
display: block;
padding: 5rem 0;
font-size: 1.5rem;
color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
background: #eee;
border-radius: .5rem;
padding: 1rem;
font-size: 1.6rem;
color: var(--black);
text-transform: none;
margin-bottom: 1rem;
width: 100%;

}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border: .1rem solid var(--green);
}
.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
} 
.order form .btn{
   margin-top: 0; 
}

.footer .box-container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr)) ;
    gap: 1.5rem;
}
.footer .box-container .box{
    padding: 5rem 0;
    font-size:2.5rem ;
    color: var(--black);
    text-align: center;
}
.footer .box-container .box h3{
    margin-bottom: .9rem;
}
.footer .box-container .box .fab{
    background: var(--black);
    color: #fff;
    border-radius: 10%;
}
 .footer .box-container .box .fab:hover{
    background: var(--green);
    text-decoration: underline;
}

.footer .box-container .box a{
    display: block;
    padding: 1rem 0;
    font-size:2.5rem ;
    line-height: 3rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    color: var(--green);
}
.footer .credit{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    line-height: 3rem;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: .1rem solid rgba(0,0,0,.1);
}
.credit span a{
    color: var(--green);
}








/* media queries */
  @media(max-width:991px){
html{
    font-size: 55%;
}
.header{
   padding: 1rem 2rem; 
}
#search-form #search-box{
    width: 90%;
    margin: 0 1rem;
}
.home .home-slider .slide .content{
    margin-bottom: 1.5rem;

  }
  .dishes .box-container{
    grid-template-columns: repeat(2, 1fr);
}   

}
  
  @media(max-width:768px){
.bars-icons{
    display: inline-block;
}
header .navbar{
    position: absolute;
    top:100%;
    left: 0;right: 0;
    background: #fff;
    border-bottom:1rem solid rgba(0,0,0,.2) ;
    padding: 1rem;
    width: 100%;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0) ;

}
.navbar ul li a{
    padding:1.5rem;
    margin:.8rem;
    font-size: 2rem;
    background: #eee;
    
}
.navbar ul {
    flex-direction: column;
}
.home .home-slider .slide .content{
    margin-bottom: 1.5rem;

  }
  .swiper-pagination-bullet-active{
    margin-top: 8rem;}
    
    .dishes .box-container{
justify-content: center;
align-items: center;
margin-left: 4.2rem;

    }

/* .dishes .box-container.box img
{
height: auto;
width:100% ;} */

.dishes .box-container{
   grid-template-columns: 1fr;
}
.about .row .content h3{
    font-size: 2rem;
}
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    }
}
